* {
	margin:0;
	padding:0;
	}
html, table, textarea {
	font:12px /15px sans-serif;
	}
html {
	min-height:100%;
	color:#444c44;
	cursor:default;
	background:#6f786f;
	}
body {
	min-height:100%;
	text-align:center;
	background:url(images/body.png) center repeat-y;
	}
table {
	text-align:center;
	margin:0 0 6px 0;
	width:100%;
	border:1px solid #646c64;
	}
th, td {
	padding:2px;
	vertical-align:top;
	border:1px solid gray;
	}
h2, .chart thead th, #visits {
	background:url(images/thb.png);
	border:1px solid gray;
	padding:0 1px;
	text-align:center !important;
	font-size:16px;
	font-weight:bold;
	line-height:25px;
	clear:both;
	}
h2 {
	border-width:1px 0;
	}
th, h3 {
	background:#949c94 url(images/th.png);
	font-weight:bold;
	padding:2px;
	clear:both;
	}
input, textarea, select {
	margin:1px 0;
	border:1px solid gray;
	color:#555555;
	font-size:12px !important;
	background:#F2F2F2;
	}
p:hover input, p:hover textarea, p:hover select, input:focus, textarea:focus, select:focus {
	border-color:#6D6D6D;
	color:#151109;
	}
a {
	color:#646c50;
	text-decoration:none;
	}
a:hover, a:focus {
	border-bottom:2px solid #444c20;
	}
div {
	clear:both;
	}
img {
	border:0;
	}
ul, ul li {
	list-style-type:none;
	display:inline;
	position:relative;
	}
li {
	list-style-position:inside;
	}
form h2 {
	border-top:1px solid gray;
	margin:0 0 10px 0 !important;
	}
h3 {
	border-bottom:1px solid gray;
	border-top:1px solid gray;
	font-size:15px;
	}
h4 {
	text-align:left;
	margin:5px 3px;
	font-size:14px;
	}
p {
	margin:4px;
	padding:3px;
	text-align:left;
	clear:both;
	}
p:hover {
	background:#B9B9B9;
	}
p span {
	float:right;
	}
textarea {
	width:100%;
	}
p span textarea {
	height:30px;
	width:300px;
	}
fieldset {
	margin:5px;
	padding:7px;
	clear:both;
	border:1px solid #939393;
	text-align:left;
	}
fieldset:hover {
	border-color:#B9B9B9;
	}
fieldset:hover legend {
	border-color:#878787;
	}
fieldset p {
	min-height:25px;
	padding:1px 5px;
	}
fieldset i {
	font-size:11px;
	font-weight:normal !important;
	color:#6D6D6D;
	}
fieldset legend {
	background:#C1C1C1;
	margin:2px 0 0 5px;
	padding:1px 5px;
	border:1px solid #939393;
	font-size:14px;
	border-left:6px solid #939393;
	cursor:pointer;
	}
fieldset legend:hover, .expanded legend {
	font-weight:bold;
	padding:1px 3px;
	border-left:8px solid #878787;
	}
fieldset legend:hover {
	color:#6D6D6D;
	}
fieldset textarea {
	height:25px;
	}
hr {
	border:1px solid #D5D5D5;
	}
#body {
	width:650px;
	margin:0 auto;
	min-height:100%;
	text-align:left;
	}
#header {
	text-align:left;
	padding:3px;
	border-bottom:solid 3px #646c50;
	background:#949c94;
	}
#header form {
	display:inline;
	}
#header h1 {
	margin:5px;
	font-size:20px;
	line-height:80%;
	height:40px;
	}
#header small {
	font-size:14px;
	}
#menu {
	width:100%;
	clear:both;
	}
#menu li {
	margin:0 1px;
	}
#menu li a {
	padding:1px 4px;
	font:bold 13px /15px sans-serif;
	}
#menu li ul {
	position:absolute;
	z-index:10;
	top:15px;
	left:0;
	display:none;
	opacity:0.9;
	background:url(images/menu.png) repeat-y;
	border:2px solid #A7A7A7;
	border-width:1px 2px 2px 0;
	}
#menu li:hover ul, #header li:focus ul, #header li.hover ul {
	display:block;
	}
#menu li ul li {
	display:block;
	border:0;
	margin:0;
	}
#menu li ul a {
	color:#3D3D3D;
	display:block;
	margin:0;
	padding:0 0 0 20px;
	font:normal 12px /20px sans-serif;
	white-space:nowrap;
	}
#menu li ul span {
	display:block;
	padding:0 2px 0 7px;
	}
#menu li ul a:hover, #header li ul a:focus, #header li ul a.active {
	background:url(images/menu_active.png) repeat-y;
	font-style:italic;
	border:0;
	}
#header li ul a.active span {
	border:1px solid #C3C3C3;
	border-width:1px 0;
	margin:0;
	}
#footer {
	text-align:center;
	width:650px;
	margin:auto;
	border-top:solid 3px #646c50;
	background:#949c94;
	position:relative;
	}
#footer div {
	position:relative;
	}
#footer div div {
	width:200px;
	padding:3px;
	text-align:left;
	position:absolute;
	bottom:0;
	}
#footer a:hover {
	border:0;
	}
#gototop {
	float:right;
	margin:0 2px 0 -20px;
	display:block;
	width:13px;
	height:14px;
	background:url(images/gototop.png) no-repeat;
	font-size:0;
	}
a#gototop:hover, a#gototop:focus {
	background:url(images/gototop_hover.png);
	}
#dateform {
	margin:0 0 5px 0;
	}
#dateform input, #dateform select {
	margin:-3px 2px 0 2px;
	}
#content {
	text-align:center;
	}
#headerright {
	float:right;
	text-align:right;
	margin:0 3px 3px 3px;
	}
#headerright a {
	font-weight:bold;
	}
#debug {
	height:200px;
	overflow:auto;
	text-align:left;
	padding:3px;
	border-bottom:1px solid gray;
	}
#apreview {
	margin:0 10px 0 5px;
	}
#advanced form {
	margin:3px;
	}
#search {
	text-align:left;
	font-weight:normal;
	font-size:12px;
	line-height:15px;
	height:40px;
	padding:3px;
	margin-bottom:10px;
	background:url(images/th.png);
	}
#search span {
	float:right;
	}
#detailed th {
	white-space:nowrap;
	}
#detailed tr:hover td, #details tr:hover td, #general td tr:hover td, #technical td tr:hover td {
	background-color:#B9B9B9 !important;
	}
#general td tr:hover td.settings, #technical td tr:hover td.settings {
	background-color:transparent !important;
	}
#login {
	width:300px;
	margin:10px auto;
	}
#details .detailsheader:hover td {
	background-color:none !important;
	}
#preloader img {
	visibility:hidden;
	width:1px;
	height:1px;
	}
#general td td, #technical td td, td th, td table {
	border:0;
	margin:0;
	}
#general td th, #technical td th {
	border-bottom:1px solid #646c64;
	}
#general td, #technical td {
	padding:0;
	width:33.3%;
	}
#general td td, #technical td td {
	padding:2px;
	}
#general img, #technical img {
	margin:0 5px -3px 0;
	}
#general h3, #technical h3 {
	font-size:9px !important;
	line-height:9px;
	}
#group_cookies th, #group_javascript th {
	border-top:1px solid gray;
	}
.user td, small.user {
	background:#FFEBC8 url(images/user.png);
	}
.online td, small.online {
	background:#CEFFB4 url(images/online.png);
	}
.robot td, small.robot {
	background:#FFB9B7 url(images/robot.png);
	}
.wide {
	width:75% !important;
	text-align:left;
	}
.auto {
	width:auto !important;
	}
.chart {
	width:100%;
	border:1px solid gray;
	}
.chart div {
	clear:none;
	}
.chart th {
	border:0;
	}
.chart span {
	display:none;
	}
.chart td:hover span {
	position:absolute;
	display:block;
	text-align:left;
	font-weight:normal;
	white-space:nowrap;
	border:1px solid #B9B9B9;
	background:#B9B9B9;
	padding:3px;
	margin:-60px 0 0 -50px;
	color:#02356F;
	opacity:0.75;
	z-index:3;
	}
.chart td {
	padding:0;
	margin:0;
	vertical-align:bottom;
	border:1px solid #A9A9A8;
	background:url(images/chart.png);
	text-align:center;
	}
.chart td div {
	width:80%;
	margin:auto;
	text-align:right !important;
	font-size:0;
	}
.chart td div div:hover {
	border-color:red !important;
	}
.chart td div div {
	background:#7B847B;
	border:1px solid #7B847B;
	border-bottom:0;
	width:50%;
	margin:auto;
	}
.chart td.combined div div.uni {
	float:left;
	}
.chart td.combined div div {
	margin-right:0;
	width:25%;
	}
.chart td div div.uni {
	background:#889188;
	}
.chart tbody th {
	border-top:1px solid #787878;
	font-size:10px;
	font-family:monospace;
	white-space:pre;
	}
.chart .scale {
	width:30px;
	padding:0;
	position:relative;
	z-index:2;
	}
.chart .scale pre {
	text-align:right;
	padding:3px 3px 0 0;
	font:9px /15px sans-serif;
	background:url(images/chart.png);
	z-index:2;
	position:relative;
	}
.chart thead th {
	border-top:0;
	font-size:14px;
	line-height:22px;
	}
.chart tfoot th, .summary thead th {
	background:url(images/thb.png) center;
	border:1px solid #898989 !important;
	}
.chart hr {
	border:1px solid #8C8C8C;
	opacity:0.6;
	position:absolute;
	width:645px;
	margin-left:0;
	z-index:1;
	}
.chart hr.uni {
	border:1px solid #9E9E9E;
	}
.chart hr:hover {
	border-color:red !important;
	}
.chart .max {
	border-color:#919191;
	}
.chart .levels {
	width:100%;
	margin:0;
	border:0;
	text-align:left !important;
	}
.chart input {
	height:18px;
	line-height:10px;
	font-size:10px;
	margin:0 auto;
	float:right;
	}
.summary {
	margin-top:-2px;
	font-size:10px;
	}
.summary td {
	font-style:italic;
	width:20%;
	}
.pointer {
	cursor:pointer;
	background:#B9B9B9;
	}
.vprofile {
	margin:7px;
	}
.vprofile a {
	font-weight:bold;
	}
.button {
	background:#848c84;
	border:1px solid #646c64;
	cursor:pointer;
	color:#343c34;
	padding:2px 5px;
	font-weight:bold;
	}
.red {
	color:red;
	}
.green {
	color:green;
	}
.error, .success, .warning, .information {
	border:2px solid red;
	text-align:justify;
	margin:2px;
	padding:10px 10px 10px 50px;
	background:url(images/error.png) no-repeat 15px 45% !important;
	}
.success {
	border-color:green;
	background-image:url(images/success.png) !important;
	}
.warning {
	border-color:#E2C472;
	background-image:url(images/warning.png) !important;
	}
.information {
	border-color:#7E9EB9;
	background-image:url(images/info.png) !important;
	}
.parent {
	font-size:15px;
	}
.nexpanded div {
	display:none;
	}
.nexpanded legend {
	margin:0;
	font-weight:normal;
	padding:1px 5px;
	border-left:6px solid #939393;
	}
.nexpanded {
	padding:0;
	margin:3px 0;
	border:0;
	}
.gdesc {
	display:block;
	margin:3px;
	padding:2px;
	font-size:13px;
	border:1px solid #939393;
	}
.changed label {
	font-weight:bold;
	}
.links {
	text-align:center;
	margin:6px;
	}
.buttons {
	margin:10px;
	}
.settings {
	padding:0 !important;
	}