/* SPS css */
body {
	margin:0px 0px 0px 0px;
	background-color:#ffffff;
}
#root	{
	background-color:#ffffff;
	margin:110px auto;
	width:680px;
	height:400px;
	text-align:center;

}
div	{text-decoration: none; color: #000000; font-size:9pt;font-family:Arial;line-height:130%}
a	{text-decoration: none; color: #ff0000; font-size:9pt;font-family:Arial}
a:hover	{text-decoration: underline; color: #000000;}
